<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><title>config.properties</title><link href="../front/css/main.ea7f1d48.css" rel="stylesheet"></head><body><div id="app"></div>
<script>
  window.example = decodeURIComponent('<%= example%>')
</script>
<script type="text/javascript" src="../front/js/main.9a1f457f.js"></script></body></html>
